{% extends 'layout-agent.html' %}

{% block pageTitle %}
  Find someone
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="overview">
        <h1 class="govuk-heading-xl">
          Can you confirm your full name?
      </h1>

       <p>
          <b>Name:</b> Jack Sparrow
        
      </p>
      
   <br>
   {{ govukButton({
          html: 'Confirm'
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
