{% extends 'layout.html' %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="course-name">

        {% set yesHtml %}
        {{ govukInput({
          name: 'courseName',
          value: data.courseName,
          label: {
            text: "Name of the course or qualification",
            isPageHeading: true,
            classes: "govuk-label--m"
          }
        }) }}
        {% endset -%}




        {{ govukRadios({
                    idPrefix: 'exemptions',
                    name: 'exemptions',
                    fieldset: {
                        legend: {
                            text: 'Do you know the name of the course you will be studying?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    
                    hint: {
                      text: 'If you will be studying multiple subjects, tell us the qualification you are studying for - for example, GCSEs or A-levels.'
                    },
        
                    items: [
                        {
                            text: 'Yes',
                            value: 'yes~/apply/ACA-2047-full-journey/in-future/where-studying',
                                conditional: {
                                    html: yesHtml
                                 }
                        },
                      
                         {
                            text: 'No',
                            value: 'no~/apply/ACA-2047-full-journey/in-future/rest-of-claim'
                        }
                    ]
                }) }}

        {{ govukButton({
          html: 'Continue'
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
