{% extends 'layout.html' %}

{% block pageTitle %}
Carer's Allowance prototype
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                {{ govukRadios({
                    idPrefix: 'education',
                    name: 'education',
                    fieldset: {
                        legend: {
                            text: "Will you be in education from " + data | getClaimStartDate + "?",
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },

                    
                        hint: {
                            text: "For example, studying at university, college, school or online."
                        },
                    
                    items: [
                        {
                            text: 'Yes',
                            value: 'yes~/apply/ACA-2047-full-journey/in-future/open-university'
                        },
                      
                         {
                            text: 'No',
                            value: 'no~/apply/ACA-2047-full-journey/in-future/education-planning'
                        }
                    ]
                }) }}

                {{ govukButton({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}