{% extends 'layout.html' %}

{% block pageTitle %}
Carer's Allowance prototype
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">


                  {% set yesHtml %}
                    <p>You will need to provide evidence showing you have been granted an exemption or an approved break.<p>
                  {% endset -%}

    

                {{ govukRadios({
                    idPrefix: 'exemptions',
                    name: 'exemptions',
                    fieldset: {
                        legend: {
                            text: 'Have you been granted any exemptions from this course, or have you been approved a break?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
        
                    items: [
                        {
                            text: 'Yes',
                            value: 'yes~/apply/ACA-2047-full-journey/in-future/where-studying-current',
                                conditional: {
                                    html: yesHtml
                                 }
                        },
                      
                         {
                            text: 'No',
                            value: 'no~/apply/ACA-2047-full-journey/in-future/where-studying-current'
                        }
                    ]
                }) }}

                {{ govukButton({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}