{% extends 'layout.html' %}

{% block pageTitle %}
Carer's Allowance prototype
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

  {% set formHTML %}
          <p> <b>We will send you a form...</p>

        {% endset %}


                {{ govukRadios({
                    idPrefix: 'approvedBreak',
                    name: 'approvedBreak',
                    fieldset: {
                        legend: {
                            text: 'Have you been granted any exemptions from this course or have you been on an approved break?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },

                    
                    
                    items: [
                       
                      
                         {
                            text: 'Yes',
                            value: 'yes~',
                            conditional: {
                            html: formHTML
                            }
                        },
                         {
                            text: 'No',
                            value: 'no~/apply/ACA-2641/disallow'
                        }
                    ]
                }) }}

                {{ govukButton({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}