{% extends 'layout.html' %}
{% import 'macros/data-helpers.njk' as helpers %}
{% block pageTitle %}
  Carer's Allowance claim start date
{% endblock %}
{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% set dateStartedCaring = data | dateStartedCaring(data) %}
{% set dateStartedCaring = data | dateStartedCaring(data) %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" action="national-insurance-number">
        
        <h1 class="govuk-heading-l">Carer's Allowance claim start date</h1>
        <p> 
          Based on when you started providing care, you may be able to backdate your claim to <b>{{ dateStartedCaring }}</b>, 
          as long as {{ data | getDpName }} was getting their disability benefit then.  If not, you can backdate to when their benefit started.
          
          <br>
            <br>
              Your claim date cannot be after {{ data| dateThreeMonthsAhead }}.
              
        {{ govukDateInput({
          id: "carerClaimStart",
          namePrefix: "carerClaimStart",
          fieldset: {
            legend: {
              text: "When do you want your Carer's Allowance claim to start?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          }

        }) }}
                            {{ govukButton({
          html: 'Continue'
        }) }}
                          </form>
                        </div>
                      </div>
                    {% endblock %}