{% extends 'layout.html' %}

{% block pageTitle %}
Carer's Allowance prototype
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                {{ govukRadios({
                    idPrefix: 'openUni',
                    name: 'openUni',
                    fieldset: {
                        legend: {
                            text: 'Is this course with the Open University?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },

                    
                    
                    items: [
                        {
                            text: 'Yes',
                            value: 'yes~/apply/ACA-2047/today/rest-of-claim'
                        },
                      
                         {
                            text: 'No',
                            value: 'no~/apply/ACA-2047/today/21-hours'
                        }
                    ]
                }) }}

                {{ govukButton({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}