{% extends 'layout.html' %}

{% block pageTitle %}
  Based on your answers, you are not eligible for Carer's Allowance - Apply for Carer’s Allowance
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">
        <h1 class="govuk-heading-l">
          You cannot get Carer's Allowance if {{ data | getDpName }} is not getting a qualifying benefit
        </h1>

        <p class="govuk-body">
          You can only get Carer's Allowance if {{ data | getDpName }} is getting one of the listed qualifying benefits. If they have applied for one, you must wait until they get a decision before applying for Carer's Allowance.
        </p>

        <p class="govuk-body">
          You can now <a href="#">end your application</a>. Your answers will be deleted.
        </p>

        <h2 class="govuk-heading-m">
          If you still want to continue your application
        </h2>

        <p class="govuk-body">
          You are still legally allowed to <a href="#">continue applying for Carer's Allowance</a>, even though you are not eligible for it.
        </p>

      </form>
    </div>
  </div>

{% endblock %}
