{% extends 'layout.html' %}

{% block pageTitle %}
  Declaration
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink ({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="confirmation">

        <h1 class="govuk-heading-l">Declaration</h1>

        <p>
          By reporting this change you agree that:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>the information in this change of circumstance is complete and correct, as far as you know</li>
          <li>the Carer's Allowance Unit will check your record and the record of the person you provide care for on DWP systems
          </li>
          <li>the Carer's Allowance Unit may check your information with other government departments</li>
          <li>you will pay back any money you have been overpaid if you are asked to</li>
          <li>you will report any other changes that affect your Carer's Allowance claim as soon as possible
              </li>
        </ul>
        </ul>

        {{ govukWarningText ({
          text: "You could be prosecuted or have to pay a financial penalty if you deliberately give wrong or incomplete information or don't report changes. Your Carer's Allowance may also be stopped or reduced.",
          iconFallbackText: 'Warning'
        }) }}

        {{ govukCheckboxes({
            items: [
              {
                value: "check",
                text: "Select this box if you filled this form in for someone else"
              }
            ]
          }) }}

        {{ govukButton ({
          html: 'I agree – send my change'
        }) }}

      </form>

    </div>

  </div>

{% endblock %}
