{% extends 'layout.html' %}

{% block pageTitle %}
  About your nationality and where you live
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="nationality-country-lived-in">


          {{ govukDateInput ({
            id: 'dateArrived',
            namePrefix: 'dateArrived',
             fieldset: {
              legend: {
                text: 'What date did you arrive in England, Scotland or Wales?',
                isPageHeading: true,
                classes: 'govuk-fieldset__legend--l'
              }
            },
            hint: {
                text: "For example, 27 3 2007"
              },
            items: [
              {
                classes: 'govuk-input--width-2',
                name: 'day',
                value: data['dateArrived-day']
              },
              {
                classes: 'govuk-input--width-2',
                name: 'month',
                value: data['dateArrived-month']
              },
              {
                classes: 'govuk-input--width-4',
                name: 'year',
                value: data['dateArrived-year']
              }
            ]
           
          }) }}

        {{ govukButton({
          html: 'Continue'
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
