{% extends 'layout.html' %}

{% block pageTitle %}
  Based on the country you live in, you are not eligible for Carer's Allowance - Apply for Carer’s Allowance
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">
        <h1 class="govuk-heading-l">
          Do you live in the European Economic Area (EEA) or Switzerland?
        </h1>

        {{ govukDetails({
          summaryText: "Countries in the EEA",
          text: "Austria, Belgium, Bulgaria, Croatia, Republic of Cyprus, Czech Republic, Denmark, Estonia, Finland, France,
      Germany, Greece, Hungary, Iceland, Ireland, Italy, Latvia, Liechtenstein, Lithuania, Luxembourg, Malta,
      Netherlands, Norway, Poland, Portugal, Romania, Slovakia, Slovenia, Spain and Sweden."
        }) }}

        {{ govukRadios({
          idPrefix: 'carer-country-eea',
          name: 'carer-country-eea',
          items: [
            {
              value: "Yes~dp-name",
              text: "Yes",
              checked: true if data['carer-country-eea'] == 'Yes'
            },
            {
              value: "No~country-ineligible",
              text: "No",
              checked: true if data['carer-country-eea'] == 'No'
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
