{% extends 'layout.html' %}

{% block pageTitle %}
  We need to know about any breaks in care
{% endblock %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="allowance-benefits">
<h1 class="govuk-heading-l">You have signed out</h1>
<p> You can <a href="#">help us improve this service by giving us your feedback</a>.  </p>
   
   <p>It is now safe to close this window.   </p>

       


      </form>
    </div>
  </div>
{% endblock %}
