{% extends 'layout.html' %}

{% block pageTitle %}
Carer's Allowance prototype
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="about-you-telephone">

        <h1 class="govuk-heading-l">Select your address</h1>

        <p class="govuk-body">2 addresses found for <b>4</b> and <b>NE1 4GB</b>. <a href="about-you-postcode-lookup">Change</a></p>

        {{ govukRadios({
          name: "where-do-you-live",
         
          items: [
            {
              value: "12345",
              text: "14 High Road, Newcastle Upon Tyne, NE1 4BG"
            },
            {
              value: "54321",
              text: "4 High Road, Newcastle Upon Tyne, NE1 4BG"
            }
          ]
        }) }}

        {{ govukButton({
          html: 'Continue'
        }) }}

        <p>
          <a href="about-you-address-manual">Enter your address manually</a>
        </p>

      </form>
    </div>
  </div>

{% endblock %}
