{% extends 'layout.html' %}

{% block pageTitle %}
Carer's Allowance prototype
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="care-you-provide-their-personal-details" method="post">

        <h1 class="govuk-heading-l">About {{ data | getDpName }}</h1>

        {{ govukDateInput ({
          id: 'careeDateOfBirth',
          namePrefix: 'careeDateOfBirth',
          fieldset: {
            legend: {
              text: 'Date of birth',
              isPageHeading: true,
              classes: 'govuk-fieldset__legend--s'
            }
          },
          items: [
            {
              classes: 'govuk-input--width-2',
              name: 'day',
              label: 'Day',
              value: data['careeDateOfBirth-day']
            },
            {
              classes: 'govuk-input--width-2',
              name: 'month',
              label: 'Month',
              value: data['careeDateOfBirth-month']
            },
            {
              classes: 'govuk-input--width-4',
              name: 'year',
              label: 'Year',
              value: data['careeDateOfBirth-year']
            }
          ],
          hint: {
            text: 'For example, 1 6 1980'
          }
        }) }}

        {{ govukRadios({
          name: 'isDpPartner',
          fieldset: {
            legend: {
              text: "Is this your partner?",
              classes: "govuk-!-font-weight-bold"
            }
          },
          items: [{
            text: "Yes",
            value: 'Yes',
            checked: true if data.isDpPartner === 'Yes'
          }, {
            text: "No",
            value: 'No',
            checked: true if data.isDpPartner === 'No'
          }]
        }) }}

        {{ govukRadios({
          name: 'liveAtSameAddress',
          fieldset: {
            legend: {
              text: "Do they live at the same address as you?",
              classes: "govuk-!-font-weight-bold"
            }
          },
          items: [{
            text: "Yes",
            value: 'Yes',
            checked: true if data.liveAtSameAddress === 'Yes'
          }, {
            text: "No",
            value: 'No',
            checked: true if data.liveAtSameAddress === 'No'
          }]
        }) }}

        {{ govukButton({
          html: 'Continue'
        }) }}

      </form>

    </div>

  </div>

{% endblock %}
