{% extends 'layout.html' %}

{% block pageTitle %}
Carer's Allowance prototype
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form action="declaration">
        <h1 class="govuk-heading-xl">Check your answers</h1>

 <h2 class="govuk-heading-m">Care details</h2>
  
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
      {# <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Do you spend at least 35 hours a week providing care for James Smith</dt>
        <dd class="govuk-summary-list__value">Yes</dd>
          <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="">
                Change</a>
          </dd>
      </div> #}
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">When did you start providing 35 hours of care?</dt>
        <dd class="govuk-summary-list__value">8 April 2023</dd>
          <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="">
                Change</a>
          </dd>
      </div>
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Claim date
        </dt>
        <dd class="govuk-summary-list__value">8 April 2023</dd>
          <dd class="govuk-summary-list__actions"> 
              <a class="govuk-link govuk-link--no-visited-state" href="">
                Change</a>
          </dd>
      </div>
</dl>
        {% include './cya-2188/care-details.html' %}
        {% include './cya-2188/about-you.html' %}
        {% include './cya-2188/nationality.html' %}
        {% include './cya-2188/your-partner.html' %}
        {% include './cya-2188/care-you-provide.html' %}
        {% include './cya-2188/breaks-in-care.html' %}
        {% include './cya-2188/education.html' %}
        {% include './cya-2188/pay-details.html' %}
        {% include './cya-2188/additional-information.html' %}

        {{ govukButton({
          html: 'Print summary',
          classes: 'govuk-button--secondary'
        }) }}

        {{ govukInsetText ({
          text: 'Printing the summary does not send your application. You must click continue and send it from the next page.'
        }) }}

        {{ govukButton({
          html: 'Continue'
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
