{% extends 'layout.html' %}

{% block pageTitle %}
Carer's Allowance prototype
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="dp-relationship">

        {% set thirdPartyName %}
          <div id="third-party-name">
            {{ govukInput({
              label: {
                text: 'Your name, and organisation, if applicable',
                classes: "govuk-!-font-weight-bold"
              },
              hint: {
                text: "Complete the rest of the form as if you are the carer. For example, if asked for your address, enter the address of the carer."
              },
              classes: "govuk-!-width-two-thirds",
              name: "thirdPartyName",
              value: data.thirdPartyName
            }) }}
          </div>
        {% endset -%}

        {{ govukRadios ({
          idPrefix: 'dpSameAddress',
          name: 'dpSameAddress',
          fieldset: {
            legend: {
              text: 'Does '+ data | getDpName +' live at the same address as you?',
              isPageHeading: true,
              classes: 'govuk-fieldset__legend--l'
            }
          },
          items: [
            {
              text: "Yes",
              value: 'yes',
              checked: true if data.dpSameAddress == 'yes'
            },
            {
              text: "No",
              value: "no~dp-address-lookup",
              checked: true if data.dpSameAddress == 'no'
            }
          ]
        }) }}

        {{ govukButton({
          html: 'Continue'
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
