{% extends 'layout.html' %}

{% block pageTitle %}
Carer's Allowance prototype
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="dp-address" method="post">
        <h1 class="govuk-heading-l">What is {{ data | getDpName }}'s National Insurance Number?</h1>

        <p class="govuk-body">If they do not have a National Insurance number, or you are unable to find out what it is, you can leave it blank.</p>

        <p class="govuk-body">If they are under 16, you should enter their Disability Living Allowance reference Number or child reference number.</p>

        {{ govukInput({
          label: {
            text: "National Insurance number",
            isPageHeading: false,
            classes: 'govuk-fieldset__legend--s'
          },
          hint: {
            text: "For example, QQ123456C"
          },
          classes: "govuk-input--width-10",
          name: "DpNationalInsuranceNumber",
          value: data.DpNationalInsuranceNumber
        }) }}

        {{ govukInsetText({
          text: 'By providing their National Insurance number, we may be able to process your claim quicker.'
        }) }}

        {{ govukButton({
          html: 'Continue'
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
