{% extends 'layout.html' %}
{% block pageTitle %}
Carer's Allowance prototype
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="rival-carer">
                <p class="govuk-fieldset__legend--l">
                    What is {{ data | getExPartnerName }}'s nationality?
                </p>
                {{ govukInput ({
                        id: 'ex-partner-nationality',
                        name: 'ex-partner-nationality',
                        classes: 'govuk-!-width-full'
                        
                    }) }}
                {{ govukButton({
                    html: 'Continue'
                }) }}
            </form>

        </div>

</div>

{% endblock %}