{% extends 'layout.html' %}

{% block pageTitle %}
Carer's Allowance prototype
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">
        <h1 class="govuk-heading-l">
          You cannot apply using this service
        </h1>

        <p class="govuk-body">
          You are using the Carer’s Allowance application service for England, Scotland and Wales. You need to apply using the NI Direct service.
        </p>

       {{ govukButton({
          html: 'Apply on NI Direct'
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
