{% extends 'layout.html' %}

{% block pageTitle %}
  What is the name of the person you provide care for? - Apply for Carer’s Allowance
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="about-you-marital-status">
        {{ govukInput({
          label: {
            text: 'What is ' + data | getDpName + ' National Insurance Number?',
            isPageHeading: true,
            classes: 'govuk-label--l'
          },
          hint: {
            text: "For example, ‘QQ 12 34 56 C’."
          },
          classes: "govuk-input--width-10",
          name: "nationalInsuranceNumber",
          value: data.nationalInsuranceNumber
        }) }}

        {{ govukButton({
          html: 'Continue'
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
