{% extends 'layout.html' %}

{% block pageTitle %}
Carer's Allowance prototype
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                {{ govukRadios({
                    idPrefix: '21hours',
                    name: '21hours',
                    fieldset: {
                        legend: {
                            text: 'Does your course of education include at least 21 hours of supervised study each week?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },

                    
                        hint: {
                            text: "Supervised study includes any time in class, and any compulsory work to be completed outside of class."
                        },
                    
                    items: [
                        {
                            text: 'Yes',
                            value: 'yes~/apply/ACA-2047/in-future/exemptions-current'
                        },
                      
                         {
                            text: 'No',
                            value: 'no~/apply/ACA-2047/in-future/where-studying-current'
                        }
                    ]
                }) }}

                {{ govukButton({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}